ZSH=$HOME/.oh-my-zsh

# Set name of the theme to load.
ZSH_THEME="{{theme}}"

# Example aliases
alias zshconfig="vim ~/.zshrc"

# Set to this to use case-sensitive completion
# CASE_SENSITIVE="true"

# Comment this out to disable weekly auto-update checks
# DISABLE_AUTO_UPDATE="true"

# Uncomment following line if you want red dots to be displayed while waiting for completion
# COMPLETION_WAITING_DOTS="true"

# Which plugins would you like to load? (plugins can be found in ~/.oh-my-zsh/plugins/*)
# Custom plugins may be added to ~/.oh-my-zsh/custom/plugins/
# Example format: plugins=(rails git textmate ruby lighthouse)
plugins=(aws colored-man-pages docker git lein node npm nvm rbenv rust tmux vim)

source $ZSH/oh-my-zsh.sh

# Customize to your needs...

if [ "$COLORTERM" = "gnome-terminal" ] || [ "$COLORTERM" = "xfce4-terminal" ] || [ -n "$KONSOLE_PROFILE_NAME" ]; then
  if [ -z "$TMUX" ]; then
    export TERM="xterm-256color"
  fi
fi

for file in $(find $HOME/.zsh.d -type f); do
  source $file
done

export HOMEPATH=$HOME/bin:$HOME/.local/bin:$HOMEPATH
export PATH=$HOMEPATH:$PATH


# TMUX
[[ $- != *i* ]] && return
[[ -z "$TMUX" ]] && (tmux attach || tmux new-session)
